@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
    ViewBag.Title = "List";
}

<div class="container-fluid" style="margin-top:15px;">
    <div class="row">
        <div class="col-md-3">

            @Html.Action("GenreFilter")

            @Html.Action("StorageMediumFilter")

            @Html.Action("ActorFilter")
        </div>
        <div id="abc" class="col-md-9">
            @Html.Action("ResoultList")
        </div>
    </div>
</div>







@section ScriptsBottom {
    <script src="/Content/js/jquery.js"></script>
    <script src="/Content/js/jquery-ui.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>

    <script src="/Content/js/checkbox.js"></script>

    <script>
        var actorList = [];

        function addToActor() {
            var addActor = document.getElementById('addActor').value;
            if (addActor != null && addActor != "" && $.inArray(addActor, actorList) == -1) {
                actorList.push(addActor);

                for (i = 0; i < actorList.length; i++) {
                    var newActor = "<li class='list-group-item' onclick='removeRecord(" + i + ");'><small>" + actorList[i] + "</small></li>";
                };
                document.getElementById('actors').innerHTML += newActor;
            }
            Filtr();
        }


        function removeRecord(i) {
            actorList.splice(i, 1);
            var newActor = "";
            // re-display the records from actorList the same way we did it in addToActor()
            for (var i = 0; i < actorList.length; i++) {
                newActor += "<li class='list-group-item' onclick='removeRecord(" + i + ");'><small>" + actorList[i] + "</small></li>";
            };
            document.getElementById('actors').innerHTML = newActor;
            Filtr();
        }
    </script>

    <script>
        $(function () {

            var setupAutoComplete = function () {
                var $input = $(this);

                var options = {
                    source: $input.attr("data-autocomplete-source"),
                    select: function (event, ui) {
                        $input = $(this);
                        $input.val(ui.item.label);
                        var $form = $input.parents("form:first");
                        addToActor();
                        Filtr();
                        // $form.submit();
                    }
                };

                $input.autocomplete(options);
            };
            $("#addActor").each(setupAutoComplete);

        });

</script>


    <script type="text/javascript">
        function Filtr() {

            var GenreFilters = [{ Genre: "" }];
            GenreFilters.pop();

            var genreList = document.getElementById("genreFilters").getElementsByClassName("active")
            for (var i = 0; i < genreList.length; i++) {
                var a = { Genre: genreList[i].textContent }
                GenreFilters.push(a);
            };


            var ActorFilters = [{ Name: "" }];
            ActorFilters.pop();

            var actorList = document.getElementById("actorFilters").getElementsByTagName("li")
            for (var i = 0; i < actorList.length; i++) {
                var a = { Name: actorList[i].textContent }
                ActorFilters.push(a);
            };



            var Filters = {
                GenreFilter: GenreFilters,
                ActorFilter: ActorFilters,
            }
            var Filters = JSON.stringify({ 'Filters': Filters })

            var $form = $(this);

            var settings = {
                data: Filters,
                url: "List",
                contentType: "application/json; charset=utf-8",
                // dataType: "json",
                type: "POST"
            };

            $.ajax(settings).done(function (result) {
                var $targetElement = "#resoult-section";
                var $newContent = $(result);
                $($targetElement).replaceWith($newContent);
                $newContent.effect("slide");
            });

            return false;
        };
    </script>
}

