<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/jquery-ui.min.css" rel="stylesheet">
    
    <link href="/Content/css/half-slider.css" rel="stylesheet">
    <link href="/Content/css/my.css" rel="stylesheet">
</head>
<body>
    <nav id="navbar1" class="navbar navbar-default navbar-static-top" role="navigation" style="margin: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Wypozyczalnia abc.pl</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Przeglądaj ofertę</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Koszyk(0)</a>
                    </li>
                    <li>
                        <a href="#">Zaloguj</a>
                    </li>
                    <li>
                        <a href="#">Rejestracja</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
