@using Microsoft.AspNet.Identity
@using MovieRentalOnline.DAL
@model MovieRentalOnline.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        @{
            <h3>Edit primary address</h3>
            RentalContext db = new RentalContext();
            var userId = User.Identity.GetUserId();
            Html.RenderPartial("_AddressPartial", db.UserAddresses.FirstOrDefault(x => x.UserId == userId && x.IsPrimary == true));      
            <h3>Edit secondary address</h3>
            Html.RenderPartial("_AddressPartial", db.UserAddresses.FirstOrDefault(x => x.UserId == userId && x.IsPrimary == false));
        }
        <br/>
    </dl>
</div>
