
@media (min-width: 979px) {
    .sidebar-nav-fixed {
        position:fixed;
        top:60px;
        width:23.404%;
        float:left;
    }
}
#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}    

#leftMenu .accordion-heading {
    height: 44px;
    border-top: 1px solid #000; /* inner stroke */
    border-bottom: 1px solid #18334B; /* inner stroke */
    background-color: #428BCA; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #18334B 0%, #18334B 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #18334B 0%, #18334B 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #18334B 0%, #18334B 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #18334B 0%, #18334B 100%); /* gradient overlay */
    list-style-type:none;     
    text-align:center;  
    line-height: initial;

}  

#leftMenu .accordion-heading  a{  
    color: #fff; /* text color */
    text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
    text-decoration:none;
    font-weight:bold; 
    vertical-align:text-bottom;    
    margin: 0 auto;    
}

#leftMenu .accordion-heading  a:hover{  
    color:#ccc     
}

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}